@import './base.css';

#app {
  padding: 0rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
/* Conteneur principal */
.page-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 75%;
  height: 100vh;
}

/* Titre en haut à gauche */
.page-header h1 {
  color: #28a745; /* Vert */
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  padding: 10px;

}

/* Contenu principal */
.page-content {
  flex: 1; /* Prend l'espace disponible */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Aligne les éléments en haut */
  gap: 1rem; /* Espacement entre les éléments */
  
}